# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="key"

# Google Gemini API
GEMINI_API_KEY="key"

# GOOGLE_CLIENT_ID="id"
# GOOGLE_CLIENT_SECRET="secret"
